.header {
  width: 100%;
  padding: 10px 10vw;
  top: 0;
  left: 0;
  position: sticky;
  background-color: #131408;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include xs-screen {
    padding: 10px 15px;
    width: 100%;
  }


  
  .logo{
      color: #fff;

      @include xs-screen {
        font-size: 1rem;
      }
  }

  .add_btn{
      color: #fff;
      cursor: pointer;
      font-size: 2rem;
  }
}
