.header {
  width: 100%;
  padding: 10px 10vw;
  top: 0;
  left: 0;
  position: sticky;
  background-color: #131408;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo{
      color: #fff;
  }

  .add_btn{
      color: #fff;
      cursor: pointer;
      font-size: 2rem;
  }
}
